$color-accent: #fc0;
$color-success: #00b341;
$color-warning: #f33;
$color-pending: #ff9a00;

$text-color: #000;
$text-color-secondary: #7f8285;
$active-link-color: #e00000;

$bg-color: #f0f2f3;

$border-width: 2px;
$border-radius: 4px;
$border-color: #d9d9d9;
$border-color-focus: #b3b3b3;

$btn-bg-color: #e6e6e6;
$btn-bg-color-hover: #dbdbdb;
$btn-accent-bg-color: $color-accent;
$btn-accent-bg-color-hover: #f2c200;
$btn-accent-border-color-focus: #b38f00;

$breakpoint: 768px;

$container-max-width: 1024px;
$container-padding-x: 16px;
$container-padding-y: 8px;

$header-height-mobile: 52px;
$footer-height-mobile: 68px;
$header-height-desktop: 52px;
$footer-height-desktop: 32px;
