@import "../includes/variables";

.header {
  display: flex;
  align-items: center;
  min-height: $header-height-mobile;
  box-sizing: border-box;
}

.header__heading {
  margin: 0 auto 0 0;
}

@media (min-width: $desktop-width) {
  .header {
    min-height: $header-height-desktop;
  }
}
