@import "../includes/variables";

.icon {
  display: inline-block;
  content: "";

  &--btn {
    display: block;
    width: 12px;
    height: 12px;
    fill: #111;
  }

  &--reset {
    width: 16px;
    height: 16px;
    fill: #ccc;
  }

  &--status {
    width: 14px;
    height: 14px;
  }

  &--commit {

  }
}

@media (min-width: $breakpoint) {
  .icon {
    &--status {
      width: 21px;
      height: 21px;
    }
  }
}
