$desktop-width: 1024px;

$color-accent: #FFCC00;
$color-success: #00B341;
$color-fail: #FF3333;
$color-pending: #FF9A00;

$text-color: #000000;
$text-color-secondary: #7F8285;
$active-link-color: #E00000;

$background-color: #F0F2F3;
$btn-background-color: #E6E6E6;

$border-width: 2px;
$border-radius: 4px;
$border-color: #D9D9D9;

$header-height-mobile: 52px;
$footer-height-mobile: 68px;
$header-height-desktop: 48px;
$footer-height-desktop: 32px;
